#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path


#callouts
    .callout_inner
        .wrapper
            .callout
            %h2 Organize
            %p OXO vaporware 3 wolf moon skateboard, shaman affogato meditation irony mixtape letterpress. Live-edge listicle yr, meggings four dollar toast drinking vinegar crucifix truffaut vape retro microdosing ugh jean shorts biodiesel palo santo. 8-bit pour-over +1 man braid raclette whatever. Keytar aesthetic master cleanse, letterpress heirloom brunch squid VHS truffaut helvetica hoodie taiyaki DIY. Hell of listicle before they sold out fashion axe cronut schlitz la croix tofu VHS street art intelligentsia occupy.


#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join now", new_user_registration_path